/* ===================================== */

/* default */

/* ===================================== */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

html, body {
  height: 100vh;
  width: 100vw;
  background-color: #002f87;
}

.wrapper {
  display: flex;
  width: 970px;
  height: 90px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(../assets/bk-970.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper.flex-sa {
  justify-content: space-around;
  padding: 0 10%;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/* ===================================== */

/*  */

/* ===================================== */

#s1 p, #s2 p {
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
}

#s1 p:last-of-type, #s2 p:last-of-type {
  position: relative;
}

/* ===================================== */

/* elemento 1 */

/* ===================================== */

#s1 p:last-of-type::before {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  width: 0;
  color: #00c08b;
  overflow: hidden;
  white-space: nowrap;
  animation-fill-mode: forwards;
}

#s1.fillText p:last-of-type::before {
  animation-name: fillText;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* ===================================== */

/* elemento 2 */

/* ===================================== */

#s2 p:last-of-type {
  color: #00c08b;
}

#s2 p:last-of-type::before {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  width: 0;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  animation-fill-mode: forwards;
}

#s2.fillText p:last-of-type::before {
  animation-name: fillText;
  animation-duration: 750ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

.bounceOut1s {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

/* ===================================== */

/* elemento 3 */

/* ===================================== */

#s3 {
  align-self: center;
  order: 2;
}

#s3 p {
  font-size: 1.4em;
  line-height: 1.2em;
  text-align: center;
}

#link {
  order: 3;
  padding: 0.8em 1.2em;
  background-color: #ffffff;
  color: #00c08b;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px black;
}

/* ===================================== */

/* logo */

/* ===================================== */

#logo {
  width: 70px;
  order: 1;
}

/* ===================================== */

/* animations */

/* ===================================== */

.hideEnd {
  animation-name: hideEnd;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.fadeOutLeft {
  animation-delay: 1s;
}

@keyframes hideEnd {
  from {
    display: flex;
  }
  to {
    display: none !important;
  }
}

@keyframes fillText {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}